body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:50px;
}
#u1987_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:15px;
  width:141px;
  height:20px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1989_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1989.mouseOver {
}
#u1989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1990_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1990.mouseOver {
}
#u1990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1991 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1991_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1991.mouseOver {
}
#u1991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(221, 32, 37, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:50px;
  width:106px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(221, 32, 37, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:85px;
  width:106px;
  height:36px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1995_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1995.mouseOver {
}
#u1995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1996 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1996_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1996.mouseOver {
}
#u1996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1997 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1997_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1997.mouseOver {
}
#u1997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:0px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1998_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 39, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1998.mouseOver {
}
#u1998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:10px;
  width:32px;
  height:32px;
  display:flex;
}
#u1999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:81px;
  width:90px;
  height:23px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2000 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:122px;
  width:375px;
  height:667px;
  display:flex;
}
#u2001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
