.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.connector {
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.line {
}
._图片 {
  color:#000000;
}
.checkbox {
  text-align:left;
}
.box_3 {
}
._图片1 {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.image {
  color:#000000;
}
._形状 {
}
.box_2 {
}
.table_cell {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.icon {
}
.ellipse {
}
.placeholder {
}
.flow_shape {
}
.label {
  font-size:14px;
  text-align:left;
}
.image1 {
}
textarea, select, input, button { outline: none; }
